h2, h3, p, h1, body {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
}

header, section, footer {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 100px;
}

.wrapper-header-welcome {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-header-welcome .wrapper-bg {
  margin: 0 auto;
  max-width: 1280px;
}

.wrapper-header-welcome header {
  height: 180px;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-header-welcome header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-header-welcome header .header-logo h1 {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}

.wrapper-header-welcome header .header-logo p {
  color: #FAFAFA;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
}

.wrapper-header-welcome header .menu-btn {
  display: none;
  padding-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-header-welcome header .menu-btn button {
  width: 32px;
  height: 32px;
  border: none;
  font-family: 'Material Icons';
  background: none;
  color: #F1CDB3;
  font-size: 42px;
}

.wrapper-header-welcome header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-header-welcome header nav a {
  color: #FAFAFA;
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.wrapper-header-welcome header nav a:hover {
  border-bottom: 3px solid #F1CDB3;
}

.wrapper-header-welcome header nav a.active {
  border-bottom: 3px solid #F1CDB3;
}

.wrapper-header-welcome .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  padding: 0 40px;
}

.wrapper-header-welcome .welcome .welcome-description {
  margin-top: 163px;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.wrapper-header-welcome .welcome .welcome-description h3 {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.wrapper-header-welcome .welcome .welcome-description p {
  font-size: 15px;
  color: #CDCDCD;
  line-height: 24px;
  font-family: arial;
  font-weight: 400;
  margin: 0;
}

.wrapper-header-welcome .welcome .welcome-description button {
  width: 207px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  height: 52px;
  background: #F1CDB3;
  line-height: 22.1px;
  border-radius: 100px;
  border: none;
}

.wrapper-header-welcome .welcome .welcome-description button:hover {
  background: white;
  border: 3px solid #F1CDB3;
  cursor: pointer;
}

.wrapper-header-welcome .welcome .welcome-description button a {
  text-decoration: none;
}

.wrapper-header-welcome .welcome .img {
  width: 698px;
  height: 728px;
  background: url("./assets/images/1280/start-screen-puppy.png");
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.about .about-description {
  width: 430px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-description h3 {
  text-align: left;
}

.about .about-description p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.wrapper-friends {
  background: #F6F6F6;
}

.wrapper-friends .friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.wrapper-friends .friends h3 {
  text-align: center;
}

.wrapper-friends .friends .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 53px;
          column-gap: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-friends .friends .slider button {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: solid 2px #F1CDB3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.wrapper-friends .friends .slider .slider-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-friends .friends .slider .slider-field .pet-card {
  height: 435px;
  background: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-friends .friends .slider .slider-field .pet-card:hover {
  cursor: pointer;
}

.wrapper-friends .friends .slider .slider-field .pet-card:hover button {
  background: #F1CDB3;
}

.wrapper-friends .friends .slider .slider-field .pet-card p {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.wrapper-friends .friends .slider .slider-field .pet-card button {
  width: 187px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  height: 52px;
  background: white;
  line-height: 22.1px;
  border-radius: 100px;
  border: none;
  border: 2px solid #F1CDB3;
}

.wrapper-friends .friends .slider .slider-field .pet-card button:hover {
  background: white;
  border: 3px solid white;
  cursor: pointer;
}

.wrapper-friends .friends .slider .slider-field .pet-card button:hover {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}

.wrapper-friends .friends button {
  width: 261px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  height: 52px;
  background: #F1CDB3;
  line-height: 22.1px;
  border-radius: 100px;
  border: none;
}

.wrapper-friends .friends button:hover {
  background: white;
  border: 3px solid #F1CDB3;
  cursor: pointer;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.help .help-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .help-container p {
  margin-top: 25px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.help .help-container .help-item {
  text-align: center;
}

.wrapper-donation {
  background: #F6F6F6;
}

.wrapper-donation section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.wrapper-donation section .donation-description {
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-donation section .donation-description h3 {
  text-align: left;
}

.wrapper-donation section .donation-description p {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}

.wrapper-donation section .donation-description .credit-card-description {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #B2B2B2;
}

.wrapper-donation section .donation-description .credit-card {
  background: #F1CDB3;
  border-radius: 9px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-donation section .donation-description .credit-card:hover {
  background: #eec6aa;
}

.wrapper-donation section .donation-description .credit-card .credit-card-icon {
  font-family: 'Material Icons';
  font-size: 32px;
  line-height: 42px;
  padding: 0 10px;
}

.wrapper-donation section .donation-description .credit-card .credit-card-number {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: left;
  line-height: 43px;
}

.wrapper-footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-footer footer {
  background-repeat: no-repeat;
  padding: 40px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-footer footer a {
  text-decoration: none;
}

.wrapper-footer footer h3 {
  color: white;
  text-align: left;
}

.wrapper-footer footer p {
  color: #F1CDB3;
  line-height: 32px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}

.wrapper-footer footer span {
  font-family: 'Material Icons';
  font-size: 32px;
}

.wrapper-footer footer .phone-email-contacts, .wrapper-footer footer .adress {
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.wrapper-footer footer .email-wrapper, .wrapper-footer footer .phone-wrapper, .wrapper-footer footer .address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.wrapper-footer footer .address-wrapper img {
  width: 22px;
  height: 32px;
}

.wrapper-footer footer .img-container {
  position: relative;
}

.wrapper-footer footer .img-container img {
  position: relative;
  top: 4px;
}

@media (max-width: 1280px) {
  section {
    padding: 80px 30px 100px;
  }
  .wrapper-header-welcome header {
    height: 120px;
    padding: 30px;
  }
  .wrapper-header-welcome .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
    padding: 30px 100px 0;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-header-welcome .welcome .welcome-description {
    max-width: 460px;
    padding: 0 55px;
    margin-top: 0;
  }
  .wrapper-header-welcome .welcome .welcome-description a {
    text-align: center;
  }
  .wrapper-header-welcome .welcome .img {
    max-width: 569px;
    max-height: 593px;
    background: url("./assets/images/1280/start-screen-puppy.png");
    -ms-flex-negative: 1;
        flex-shrink: 1;
    background-size: contain;
    position: relative;
    left: 70px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 80px;
  }
  .wrapper-friends {
    background: #F6F6F6;
  }
  .wrapper-friends .friends .slider {
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
  .wrapper-friends .friends .slider .slider-field {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .wrapper-friends .friends .slider .slider-field .pet-card.third {
    display: none;
  }
  .wrapper-friends .friends button {
    width: 261px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    height: 52px;
    background: #F1CDB3;
    line-height: 22.1px;
    border-radius: 100px;
    border: none;
  }
  .wrapper-friends .friends button:hover {
    background: white;
    border: 3px solid #F1CDB3;
    cursor: pointer;
  }
  .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 60px;
  }
  .help .help-container {
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .help .help-container .help-item {
    text-align: center;
    width: 170px;
  }
  .wrapper-donation section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 60px;
    padding-bottom: 96px;
  }
  .wrapper-donation section .donation-description {
    height: 282px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .wrapper-donation section .donation-description h3 {
    text-align: left;
  }
  .wrapper-footer footer {
    padding: 30px 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 65px;
  }
  .wrapper-footer footer .phone-email-contacts, .wrapper-footer footer .adress {
    height: 234px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
  .wrapper-footer footer .footer-foto {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 1 1;
            flex: 100% 1 1;
  }
}

@media (max-width: 768px) {
  section {
    padding: 42px 10px;
  }
  h3 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
  .wrapper-header-welcome header {
    height: 150px;
    padding: 30px 0 60px 10px;
  }
  .wrapper-header-welcome header nav {
    display: none;
  }
  .wrapper-header-welcome .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 105px;
    padding: 0px 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .wrapper-header-welcome .welcome .welcome-description {
    width: 300px;
    padding: 0;
    margin-top: 0;
    row-gap: 42px;
    height: auto;
  }
  .wrapper-header-welcome .welcome .welcome-description a {
    text-align: center;
  }
  .wrapper-header-welcome .welcome .welcome-description h3 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .wrapper-header-welcome .welcome .welcome-description p {
    text-align: center;
  }
  .wrapper-header-welcome .welcome .img {
    max-width: 260px;
    height: 271px;
    background: url("./assets/images/1280/start-screen-puppy.png");
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-size: contain;
    position: relative;
    left: 20px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 42px;
  }
  .about .about-img img {
    width: 260px;
  }
  .about .about-description {
    row-gap: 22px;
    width: auto;
    height: auto;
  }
  .about .about-description h3 {
    text-align: center;
  }
  .about .about-description p {
    padding: 0 15px;
    text-align: justify;
  }
  .wrapper-friends .friends {
    row-gap: 42px;
  }
  .wrapper-friends .friends h3 {
    text-align: center;
  }
  .wrapper-friends .friends .slider {
    -webkit-column-gap: 80px;
            column-gap: 80px;
    row-gap: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper-friends .friends .slider button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper-friends .friends .slider .slider-field {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 1 1;
            flex: 100% 1 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper-friends .friends .slider .slider-field .pet-card.third, .wrapper-friends .friends .slider .slider-field .pet-card.second {
    display: none;
  }
  .wrapper-friends .friends button {
    width: 261px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    height: 52px;
    background: #F1CDB3;
    line-height: 22.1px;
    border-radius: 100px;
    border: none;
  }
  .wrapper-friends .friends button:hover {
    background: white;
    border: 3px solid #F1CDB3;
    cursor: pointer;
  }
  .help {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 42px;
  }
  .help .help-container {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .help .help-container .help-item {
    text-align: center;
    width: 130px;
    height: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help .help-container .help-item img {
    width: 50px;
    height: 50px;
  }
  .help .help-container .help-item p {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 0;
  }
  .wrapper-donation {
    background: #F6F6F6;
  }
  .wrapper-donation section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 42px;
    padding-bottom: 38px;
  }
  .wrapper-donation section .img-container img {
    width: 260px;
  }
  .wrapper-donation section .donation-description {
    height: 282px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-donation section .donation-description .credit-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 281px;
  }
  .wrapper-donation section .donation-description .credit-card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .wrapper-donation section .donation-description .credit-card a .credit-card-number {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .wrapper-donation section .donation-description h3 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .wrapper-donation section .donation-description p {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
  .wrapper-donation section .donation-description .credit-card-description {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: justified;
  }
  .wrapper-donation section .donation-description .credit-card-description br {
    display: none;
  }
  .wrapper-footer footer {
    padding: 30px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 40px;
  }
  .wrapper-footer footer h3 {
    text-align: center;
  }
  .wrapper-footer footer h3 br {
    display: none;
  }
  .wrapper-footer footer .phone-email-contacts, .wrapper-footer footer .adress {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .wrapper-footer footer .phone-email-contacts a p, .wrapper-footer footer .adress a p {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .wrapper-footer footer .adress h3 {
    width: 270px;
    text-align: center;
  }
  .wrapper-footer footer .adress .address-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .wrapper-footer footer .img-container {
    text-align: center;
  }
  .wrapper-footer footer .img-container .footer-foto {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 1 1;
            flex: 100% 1 1;
    width: 260px;
  }
}
